<span class="flex items-center text-center">
    <a 
        matTooltip={{transaction().hash}}
        class="text-blue-700"
        [routerLink]="['', transaction().hash]"
        [state]="{ 
                transaction: transaction(),
                txType: txType(),
            }"
    >
        {{ transaction().hash | slice:0:12 }}...
    </a>
    <button
        matIconButton
        matTooltip="Copy transaction hash"
        (click)="copyToClipboard(transaction().hash)"
    >
        <mat-icon class="opacity-60" style="transform: scale(0.6);">
        content_copy
        </mat-icon>
    </button>
</span>