<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

  <ng-container matColumnDef="hash">
    <th mat-header-cell *matHeaderCellDef>
      <app-table-header
        tooltip="The hash of Ethereum transaction." 
        label="Tx Hash">
      ></app-table-header>      
    </th>
    <td mat-cell *matCellDef="let tx">
      <app-transaction-hash-cell [hash]="tx.hash"></app-transaction-hash-cell>
    </td>
  </ng-container>

  <ng-container matColumnDef="from">
    <th mat-header-cell *matHeaderCellDef>
      <app-table-header
        tooltip="Sender address of the ETH transfer." 
        label="From">
      ></app-table-header>      
    </th>
    <td mat-cell *matCellDef="let tx">{{ tx.from }}</td>
  </ng-container>

  <ng-container matColumnDef="to">
    <th mat-header-cell *matHeaderCellDef>
      <app-table-header
        tooltip="Recipient address of the ETH transfer." 
        label="To">
      ></app-table-header>
    </th>
    <td mat-cell *matCellDef="let tx">{{ tx.to }}</td>
  </ng-container>

  <ng-container matColumnDef="Amount">
    <th mat-header-cell *matHeaderCellDef>
      <app-table-header
        tooltip="Amount of Ether transferred in this transaction." 
        label="Amount">
      ></app-table-header>   
    </th>
    <td mat-cell *matCellDef="let tx" matTooltip="{{ tx.value }} wei">
      {{ getEth(tx) }} ETH
    </td>
  </ng-container>

  <ng-container matColumnDef="blockNumber">
    <th mat-header-cell *matHeaderCellDef>
      <app-table-header
        tooltip="Sequential number of the block including this transaction." 
        label="Block">
      ></app-table-header>  
    </th>
    <td mat-cell *matCellDef="let tx">{{ tx.blockNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="timeStamp">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let tx">{{ (tx.timeStamp * 1000) | date:'yyyy-MM-dd': 'UTC'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>
<mat-paginator 
    [pageSizeOptions]="[5, 10, 20, 50]"
    [pageSize]="pageSize()"
    [pageIndex]="pageIndex()"
    [length]="totalCount()"
    showFirstLastButtons
></mat-paginator>
