
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;

}


// Customize the entire app. Change :root to your selector if you want to scope the styles.
.search-bar {
  @include mat.form-field-overrides((
    outlined-container-shape: 30px,
    outlined-outline-width: 1px,
    outlined-focus-outline-width: 1px,

    outlined-focus-outline-color:#808080,
  ));    
}

:root {
  @include mat.table-overrides((
    row-item-outline-width: 0.1px,
    row-item-outline-color: #d4d3d3,
  ));  

  @include mat.form-field-density(-2);
  @include mat.form-field-overrides((
    outlined-outline-color: #bdbdbd,
    outlined-hover-outline-color: #a8a8a8,
  ));

   @include mat.progress-bar-overrides((
    active-indicator-color: #bbbbbb,
    track-color: #d6d6d6,
    track-height: 3px,
    active-indicator-height: 4px,
  ));
}
